<template name="ThankYouLayout">
    <style>
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        .txtField {
            font-size: 18pt;
            height: 420px;
            width: 200px;
        }

        .top-buffer {
            margin-top: 15px;
        }

        .border {
            border: 2px solid black;
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <div class="container-fluid">
        <div class="row">
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>

            <div class="col-xs-2"></div>

            <div class="col-xs-5">
                    <h1>
                        Thank you
                    </h1>
            </div>
            <div class="col-xs-2">
                <div class="col-xs-2">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size:50pt; color:limegreen;"></span>
                </div>
            </div>

            <div class="col-xs-2"></div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <hr>
            </div>
        </div>

        <div class="row top-buffer"></div>
        <div class="row top-buffer"></div>
        <div class="row top-buffer"></div>
        <div class="row top-buffer"></div>
        <div class="row top-buffer"></div>
        <div class="row top-buffer"></div>
        <div class="row top-buffer"></div>
        <div class="row top-buffer"></div>
        <div class="row top-buffer"></div>
        <div class="row top-buffer"></div>
        <div class="row top-buffer"></div>
        <div class="row top-buffer"></div>

        <div class="row">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-6">
                <button style="font-size:16pt;height:50px;width:450px;" onclick="location.href = '/login';">LOGIN</button>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>

</template>

