<template name="ForgotLayout">
    <style>
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        .txtField {
            font-size: 18pt;
            height: 420px;
            width: 200px;
        }

        .top-buffer {
            margin-top: 15px;
        }

        .border {
            border: 2px solid black;
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <div class="container-fluid">
        <div class="row">
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>

            <div class="col-xs-2"></div>

            <div class="col-xs-8">
                <header>
                    <h1>
                        Reset your password?
                    </h1>
                </header>
            </div>

            <div class="col-xs-2"></div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">

            </div>
            <div class="col-xs-8">
                <p>Please provide the username or email address that you used when you signed up for your Eager Academy Account.</p>
            </div>
            <div class="col-xs-2">
            </div>
        </div>

        <div class="row top-buffer"></div>
        <div class="row top-buffer"></div>

        <div class="row">
            <div class="col-xs-2">

            </div>
            <div class="col-xs-8">
                <p>We will send you an email that will allow you to reset your password.</p>
            </div>
            <div class="col-xs-2">
            </div>
        </div>

        <div class="row top-buffer"></div>
        <div class="row top-buffer"></div>

        <div class="row">
            <div class="col-xs-2">

            </div>
            <div class="col-xs-8">
                <p><input type="text" name="username" placeholder="username or email address"
                       style="font-size:16pt;height:50px;width:450px;"></p>
            </div>
            <div class="col-xs-2">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-6">
                <button style="font-size:16pt;height:50px;width:450px;" onclick="location.href = '/login';">SEND CONFIRMATION EMAIL</button>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>

</template>
