<template name="HomeLayout">
    <header>
        <h1>Eager Academy</h1>
    </header>
    {{> loginButtons}}

    <body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="images/EA_Logo.png">
                </a>
            </div>
        </div>
    </nav>
    </body>
    <main>
        <div class="billboard">
            <h2>Student View
            </h2>
        </div>
    </main>
</template>