<template name="LoginLayout">
    <style>
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        .txtField {
            font-size: 18pt;
            height: 420px;
            width: 200px;
        }

        .top-buffer {
            margin-top: 15px;
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <div class="container">
        <div class="row">
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>

            <div class="col-xs-2"></div>

            <div class="col-xs-8">
                <header>
                    <h1>
                        Login to your Eager Academy Account
                    </h1>
                </header>
            </div>

            <div class="col-xs-2"></div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <hr>
            </div>
        </div>




        <div class="row">
            <div class="col-xs-3">

            </div>
            <div class="col-xs-6">
                <input type="text" name="username" placeholder="username/email"
                       style="font-size:16pt;height:50px;width:450px;">
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="row top-buffer"></div>

        <div class="row">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-6">
                <input type="password" name="password" placeholder="password"
                       style="font-size:16pt;height:50px;width:450px;">
            </div>
            <div class="col-xs-2">
            </div>
        </div>

        <div class="row top-buffer"></div>

        <div class="row">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-6">
                <button style="font-size:16pt;height:50px;width:450px;">Login</button>
            </div>
            <div class="col-xs-2">
            </div>
        </div>

        <div class="row top-buffer"></div>

        <div class="row">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-2"><input type="checkbox">Remember Me</div>
            <div class="col-xs-3 text-right">
                <a href="/forgot"><u>Forgot Password?</u></a>
            </div>
            <div class="col-xs-3">
            </div>
        </div>
    </div>
    <!--<nav class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="container-fluid">-->
    <!--<div class="navbar-header">-->
    <!--<img alt="Brand" src="/public/images/EA_Logo.png">-->

    <!--</div>-->
    <!--</div>-->
    <!--</nav>-->

    <main>
        {{> Template.dynamic template=main}}
    </main>

</template>

<template name="Test">
    <h1>HELLO!!!!!</h1>
</template>