<template name="ResetPasswordLayout">
    <style>
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        .txtField {
            font-size: 18pt;
            height: 420px;
            width: 200px;
        }

        .top-buffer {
            margin-top: 15px;
        }

        .border {
            border: 2px solid black;
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <div class="container-fluid">
        <div class="row">
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>
            <div class="row top-buffer"></div>

            <div class="col-xs-2"></div>

            <div class="col-xs-8">
                <header>
                    <h1>
                        Enter your new password
                    </h1>
                </header>
            </div>

            <div class="col-xs-2"></div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">

            </div>
            <div class="col-xs-8">
                <p><input type="text" name="newPassword" placeholder="new password"
                          style="font-size:16pt;height:50px;width:450px;"></p>
            </div>
            <div class="col-xs-2">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">

            </div>
            <div class="col-xs-8">
                <p><input type="text" name="newPasswordConfirm" placeholder="confirm new password"
                          style="font-size:16pt;height:50px;width:450px;"></p>
            </div>
            <div class="col-xs-2">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-6">
                <button style="font-size:16pt;height:50px;width:450px;" onclick="location.href = '/thankyou';">RESET PASSWORD</button>
            </div>
            <div class="col-xs-2">
            </div>
        </div>

    </div>

</template>
