<template name="ThankYouLayout">
    <style>

        .txtField {
            font-size: 18pt;
            height: 420px;
            width: 200px;
        }

        .top-buffer {
            margin-top: 15px;
        }

        .border {
            border: 2px solid black;
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                    <h1>
                        Thank you
                    </h1>
            </div>

            <div class="col-xs-2">
                <span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size:50pt; color:limegreen;"></span>
            </div>

            <div class="col-xs-6"></div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    If the email address associated with your account is in our records, you will receive an email from us with password reset instructions.
                </div>

                <div class="row top-buffer"></div>

                <div class="row">
                    <button onclick="location.href = '/login';" style="font-size:9pt;height:30px;width:150px;">Login Again</button>
                </div>

            </div>



            <div class="col-xs-4">
                <span></span>
            </div>
        </div>
    </div>

</template>
