<template name="ThankYouLayout">
    <style>

        .txtField {
            font-size: 18pt;
            height: 420px;
            width: 200px;
        }

        .top-buffer {
            margin-top: 15px;
        }

        .border {
            border: 2px solid black;
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                    <h1>
                        Thank you
                    </h1>
            </div>

            <div class="col-xs-2">
                <span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size:50pt; color:limegreen;"></span>
            </div>

            <div class="col-xs-6"></div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-7">
                <div class="row">
                    Please provide the username or email address that you used when you signed up for your Eager Academy
                    account.
                </div>

                <div class="row top-buffer"></div>

                <div class="row">
                    We will send you an email that will allow you to reset your password.
                </div>

            </div>


            <div class="col-xs-5 border">
                <div class="col-xs-1"></div>

                <div class="col-xs-10">
                    <div class="row top-buffer"></div>

                    <div class="row">
                        Email Address or Username
                    </div>

                    <div class="row">
                        <input type="text" name="username"
                               style="font-size:14pt;height:30px;width:350px;">
                    </div>

                    <div class="row top-buffer"></div>

                    <button style="font-size:9pt;height:30px;width:150px;">Send Confirmation Email</button>

                    <div class="row top-buffer"></div>
                </div>

                <div class="col-xs-1"></div>
            </div>

            <div class="col-xs-4">
                <span></span>
            </div>
        </div>
    </div>

</template>
